<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
	
    </startup>
<connectionStrings>
    <add name="SMILE" connectionString="Data Source=DESKTOP-NRSG93V;Initial Catalog=SMILE_FO;Integrated Security=True" />
    <add name="SMILE_XNC.Properties.Settings.SMILE_FOConnectionString"
        connectionString="Data Source=DESKTOP-NRSG93V;Initial Catalog=SMILE_FO;Integrated Security=True"
        providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>